.btn_secondary {
  position: relative;
  color: #ff8a00;
  background: transparent;
  border: 1px solid #ff8a00;

  &:after{
    @include set-icon( url(../img/icons/adobe-reader.png) ,16px, 20px);
    top: 13px;
    left: 20px;  
  }
}
